.India {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
 float: left;
  font-family: arial;
 border-right: 50px;
  padding:20px;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.India button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.India button:hover {
  opacity: 0.7;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-family: arial;
    float: left;
    padding: 20px;
   
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  #drop{
  display: none;
  font-family: arial;
  padding: auto;
  border: 20px;
 
  }

  #dubai{
    display: none;
    font-family: arial;
    padding: auto;
    border: 20px;
   
    }

 